[user]
	email = lemunozm@gmail.com
	name = lemunozm
	signingkey = F2FFEDAB12EAF2AB
[pull]
	ff = only
[fetch]
    prune = true
[core]
    editor = nvim
	pager = nvimpager
	excludesFile = ~/.gitignore
[commit]
	gpgSign = true
